* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-r-c-s {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-r-c-c {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-r-st-c {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-col-c-c {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-r-c-st {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@mixin button {
  padding: 5px 10px;
  background-color: $buttonColor;
  color: white;
  border: none;
  border-radius: 5px;
  font-style: inherit;
  font-family: inherit;
}

body {
  font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  color: inherit;
}

li {
  list-style-type: none;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

button {
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
}
