.quote {
  background-color: $orange;
}

.quote-content {
  padding: $fixedPadding;
  width: 30%;
  margin: auto;
  @include flex-col-c-c;

  h2 {
    font-size: 2rem;
    color: $textColor;
    margin-bottom: 35px;
  }

  .logos {
    @include flex-r-c-st;
    gap: 20px;
    width: 100%;
    span {
      height: 33px;
      line-height: 33px;
    }
    button {
      @include flex-r-c-c;
      @include button;
      font-size: 1rem;

      img {
        width: 15px;
        margin-right: 5px;
      }
    }
    justify-content: center;
    margin-bottom: 30px;
  }

  .whiteboard {
    font-size: 16px;
    min-width: 628px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    color: $textColor;

    .fa-quote-left {
      position: relative;
      top: -30px;
      left: -30px;
      transform: translate(-5%, -55%);
      font-size: 40px;
      color: $buttonColor;
    }

    .letter-footer {
      @include flex-r-c-st;
      margin-top: 50px;
      img {
        height: 50px;
        margin-right: 25px;
      }

      & div:first-child {
        color: $blue;
      }
    }
  }
}
